
:root {
  
  --primary-color: #008751;   
  --secondary-color: #008751; 
  --bg-color: #f4f8f5;        
  --card-bg: #ffffff;         
  --text-color: #222222;       
  --shadow-color: #000000;     
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

header, footer {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
  padding: 1.00rem;
}


main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.50rem;
  padding: 1.00rem;
}

.hero picture img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.card {
  background-color: var(--card-bg);
  padding: 1.50rem;
  border-radius: 8px;
  border-top: 4px solid var(--primary-color); 
  box-shadow: 0px 4px 6px #0000001a;          
}

.card h2 {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.50rem;
  margin-bottom: 1.00rem;
}

.card ul {
  list-style-type: none;
}

.card li {
  margin-bottom: 0.50rem;
}

.weather-icon-mobile {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}