@media (min-width: 768px) {
    
    main {
        position: relative;
        display: block; 
    }

    
    .hero {
        width: 100%;
    }

    .hero img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    
    .card {
        position: absolute;
        width: 280px; 
        background-color: rgba(255, 255, 255, 0.92); 
        padding: 1.25rem;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        z-index: 10;
    }

    
    .card.data {
        top: 2rem;
        left: 2rem;
    }

    
    .card.weather {
        bottom: 2rem;
        right: 2rem;
    }

    
    .weather-icon-mobile {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
        font-size: 1.20rem;
    }
}